/* here you can put your own css to customize and override the theme */

.header .navbar-brand {
	padding: 0px;
}

.note-success>i.fa {
	color: #3cc051;
}
.note-danger>i.fa {
	color: #ed4e2a;
}

.note-warning>i.fa {
	color: #fcb322;
	
}
.overlay {
	display: none;
}

.grid-view-loading {
	position: relative;
	background: none;	
}
.grid-view-loading .overlay {
	display: block;
	background: rgba(0,0,0,0.1) url(../img/loading.gif) no-repeat 50% 50%;
	position: absolute;
	width: 100%;
	height: 100%;
}
.pagination>li.selected>a {
	background-color: #428bca !important;
	color: #fff !important;
}

.float-left {
	float: left;
}